In [1]:
import pandas as pd
import numpy as np

df = pd.read_pickle("../data/interim/rating.pkl")
df

     user_id item_id parent_asin rating      timestamp
0          0   28833  B01G15TGCU    1.0  1491601677000
0          0   29361  B01HRPJQ2S    5.0  1475448112000
0          0   32319  B06XQYN77L    1.0  1658498138614
0          0   37990  B07F9SG3RX    5.0  1673250487226
0          0   40014  B07L4GYFK9    5.0  1677469171342
..       ...     ...         ...    ...            ...
999      999   69440  B0BYSG291N    5.0  1559594592832
999      999   70383  B0C37XY2JZ    5.0  1540929869776
999      999   71229  B0C662M3GG    5.0  1547336147049
999      999   71551  B0C78KPQYH    5.0  1552672042595
999      999   72180  B0CDGCPD3H    5.0  1539791452303

[164364 rows x 5 columns]

In [2]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
df['date'] = df['timestamp'].dt.date
df

     user_id item_id parent_asin rating               timestamp        date
0          0   28833  B01G15TGCU    1.0 2017-04-07 21:47:57.000  2017-04-07
0          0   29361  B01HRPJQ2S    5.0 2016-10-02 22:41:52.000  2016-10-02
0          0   32319  B06XQYN77L    1.0 2022-07-22 13:55:38.614  2022-07-22
0          0   37990  B07F9SG3RX    5.0 2023-01-09 07:48:07.226  2023-01-09
0          0   40014  B07L4GYFK9    5.0 2023-02-27 03:39:31.342  2023-02-27
..       ...     ...         ...    ...                     ...         ...
999      999   69440  B0BYSG291N    5.0 2019-06-03 20:43:12.832  2019-06-03
999      999   70383  B0C37XY2JZ    5.0 2018-10-30 20:04:29.776  2018-10-30
999      999   71229  B0C662M3GG    5.0 2019-01-12 23:35:47.049  2019-01-12
999      999   71551  B0C78KPQYH    5.0 2019-03-15 17:47:22.595  2019-03-15
999      999   72180  B0CDGCPD3H    5.0 2018-10-17 15:50:52.303  2018-10-17

[164364 rows x 6 columns]

In [3]:
df = df.sort_values(by="date")
df

     user_id item_id parent_asin rating               timestamp        date
210      210   23930  B00XIFG7FG    5.0 2000-05-15 04:34:45.000  2000-05-15
887      887      56  B000021YU8    4.0 2000-08-04 13:40:19.000  2000-08-04
665      665      65  B00002SWHH    3.0 2000-09-05 18:57:00.000  2000-09-05
427      427      59  B000023VUL    5.0 2000-09-06 00:05:54.000  2000-09-06
665      665      85  B00004SCKA    4.0 2000-09-16 14:21:47.000  2000-09-16
..       ...     ...         ...    ...                     ...         ...
594      594   71660  B0C7QW3Q73    4.0 2023-05-31 17:55:08.594  2023-05-31
594      594   71066  B0C5MF2LCQ    5.0 2023-05-31 17:56:41.638  2023-05-31
995      995   53406  B0957LDLH1    5.0 2023-06-07 03:18:47.618  2023-06-07
995      995   57624  B09Q7Q2WZ1    1.0 2023-06-11 23:37:49.131  2023-06-11
898      898   69585  B0BZ7F8KH9    5.0 2023-06-17 04:09:41.664  2023-06-17

[164364 rows x 6 columns]

In [4]:
grouped = df.groupby(["user_id"]).agg({"date": lambda x: x.tolist(), "rating": lambda x: x.tolist(), "item_id": lambda x: x.tolist()}).reset_index(drop=False)
grouped

,user_id,date,rating,item_id
0,0,"[2016-10-02, 2017-04-07, 2021-06-22, 2022-02-2...","[5.0, 1.0, 1.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0, ...","[29361, 28833, 49071, 64427, 50006, 48383, 530..."
1,1,"[2010-06-17, 2010-10-06, 2010-10-06, 2010-11-1...","[4.0, 3.0, 3.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...","[2930, 6848, 4085, 3918, 6072, 42670, 7299, 17..."
2,2,"[2015-10-28, 2015-10-28, 2015-10-28, 2015-10-2...","[5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 5.0, 5.0, 3.0, ...","[2532, 21812, 14867, 67231, 15799, 39578, 3289..."
3,3,"[2010-06-12, 2011-01-29, 2011-03-18, 2011-07-0...","[3.0, 4.0, 5.0, 3.0, 4.0, 4.0, 5.0, 1.0, 5.0, ...","[23667, 6028, 2859, 2797, 5507, 22883, 2876, 1..."
4,4,"[2007-12-27, 2009-05-17, 2010-08-08, 2010-08-1...","[2.0, 5.0, 4.0, 4.0, 5.0, 1.0, 5.0, 5.0, 5.0, ...","[1855, 1390, 5080, 2159, 7271, 2416, 7031, 432..."
...,...,...,...,...
995,995,"[2020-05-06, 2020-05-10, 2020-06-26, 2020-06-2...","[4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, ...","[46093, 63074, 46707, 42668, 54957, 54714, 466..."
996,996,"[2013-05-06, 2013-05-06, 2015-01-22, 2015-02-1...","[5.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0, 5.0, 1.0, ...","[14018, 12897, 15824, 24402, 24722, 13711, 215..."
997,997,"[2017-12-31, 2018-01-26, 2018-02-13, 2018-04-1...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...","[29306, 29927, 32622, 30490, 36031, 28799, 258..."
998,998,"[2013-04-11, 2013-09-03, 2014-10-29, 2014-10-2...","[4.0, 5.0, 5.0, 3.0, 5.0, 5.0, 4.0, 1.0, 4.0, ...","[13994, 12095, 32407, 18046, 18847, 59676, 233..."
999,999,"[2008-11-12, 2009-09-21, 2009-09-24, 2009-10-2...","[4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, ...","[3243, 1844, 5147, 4861, 24056, 2171, 6015, 38..."

In [5]:
from collections import Counter
from tqdm import tqdm

window_size = 4
is_sequence_lst = []
for i in tqdm(range(len(grouped))):
    tmp_date = grouped["date"][i]
    count = Counter(tmp_date)
    indices = [count[element] >= window_size  for index, element in enumerate(tmp_date) ]
    is_sequence_lst.append(indices)
tmp_date, indices

100%|██████████| 1000/1000 [00:00<00:00, 26003.77it/s]

([datetime.date(2008, 11, 12),
  datetime.date(2009, 9, 21),
  datetime.date(2009, 9, 24),
  datetime.date(2009, 10, 22),
  datetime.date(2009, 12, 16),
  datetime.date(2010, 2, 27),
  datetime.date(2010, 3, 24),
  datetime.date(2010, 4, 7),
  datetime.date(2010, 4, 26),
  datetime.date(2010, 4, 26),
  datetime.date(2010, 5, 17),
  datetime.date(2010, 6, 8),
  datetime.date(2010, 6, 9),
  datetime.date(2010, 6, 14),
  datetime.date(2010, 6, 14),
  datetime.date(2010, 6, 15),
  datetime.date(2010, 6, 15),
  datetime.date(2010, 7, 29),
  datetime.date(2010, 7, 29),
  datetime.date(2010, 7, 30),
  datetime.date(2010, 8, 23),
  datetime.date(2010, 9, 1),
  datetime.date(2010, 9, 26),
  datetime.date(2010, 10, 1),
  datetime.date(2010, 10, 23),
  datetime.date(2010, 11, 25),
  datetime.date(2010, 11, 25),
  datetime.date(2011, 1, 22),
  datetime.date(2011, 2, 4),
  datetime.date(2011, 2, 28),
  datetime.date(2011, 4, 18),
  datetime.date(2011, 4, 18),
  datetime.date(2011, 6, 21),
  datetime.date(2011, 7, 8),
  datetime.date(2011, 8, 31),
  datetime.date(2011, 10, 13),
  datetime.date(2011, 11, 9),
  datetime.date(2012, 1, 24),
  datetime.date(2012, 1, 25),
  datetime.date(2012, 3, 26),
  datetime.date(2012, 4, 3),
  datetime.date(2012, 10, 20),
  datetime.date(2012, 10, 20),
  datetime.date(2012, 11, 17),
  datetime.date(2012, 11, 30),
  datetime.date(2012, 12, 29),
  datetime.date(2012, 12, 29),
  datetime.date(2013, 1, 26),
  datetime.date(2013, 1, 27),
  datetime.date(2013, 1, 27),
  datetime.date(2013, 1, 31),
  datetime.date(2013, 1, 31),
  datetime.date(2013, 3, 21),
  datetime.date(2013, 3, 21),
  datetime.date(2013, 3, 24),
  datetime.date(2013, 5, 7),
  datetime.date(2013, 6, 19),
  datetime.date(2013, 7, 16),
  datetime.date(2013, 7, 20),
  datetime.date(2013, 7, 25),
  datetime.date(2013, 7, 27),
  datetime.date(2013, 8, 11),
  datetime.date(2013, 8, 11),
  datetime.date(2013, 8, 11),
  datetime.date(2013, 8, 21),
  datetime.date(2013, 9, 26),
  datetime.date(2013, 10, 1),
  datetime.date(2013, 11, 16),
  datetime.date(2013, 11, 21),
  datetime.date(2014, 1, 16),
  datetime.date(2014, 3, 8),
  datetime.date(2014, 4, 17),
  datetime.date(2014, 4, 24),
  datetime.date(2014, 4, 24),
  datetime.date(2014, 5, 15),
  datetime.date(2014, 5, 16),
  datetime.date(2014, 5, 16),
  datetime.date(2014, 5, 21),
  datetime.date(2014, 5, 22),
  datetime.date(2014, 5, 22),
  datetime.date(2014, 5, 28),
  datetime.date(2014, 6, 4),
  datetime.date(2014, 6, 4),
  datetime.date(2014, 7, 21),
  datetime.date(2014, 7, 31),
  datetime.date(2014, 8, 29),
  datetime.date(2014, 9, 10),
  datetime.date(2014, 9, 15),
  datetime.date(2014, 9, 17),
  datetime.date(2014, 9, 24),
  datetime.date(2014, 10, 1),
  datetime.date(2014, 10, 9),
  datetime.date(2014, 10, 9),
  datetime.date(2014, 11, 2),
  datetime.date(2014, 11, 27),
  datetime.date(2014, 12, 3),
  datetime.date(2014, 12, 3),
  datetime.date(2014, 12, 3),
  datetime.date(2014, 12, 3),
  datetime.date(2015, 1, 27),
  datetime.date(2015, 1, 27),
  datetime.date(2015, 2, 12),
  datetime.date(2015, 2, 18),
  datetime.date(2015, 2, 18),
  datetime.date(2015, 3, 5),
  datetime.date(2015, 3, 5),
  datetime.date(2015, 3, 7),
  datetime.date(2015, 3, 8),
  datetime.date(2015, 3, 17),
  datetime.date(2015, 3, 17),
  datetime.date(2015, 3, 26),
  datetime.date(2015, 4, 10),
  datetime.date(2015, 4, 21),
  datetime.date(2015, 5, 2),
  datetime.date(2015, 5, 2),
  datetime.date(2015, 5, 9),
  datetime.date(2015, 5, 29),
  datetime.date(2015, 6, 18),
  datetime.date(2015, 6, 21),
  datetime.date(2015, 7, 13),
  datetime.date(2015, 9, 26),
  datetime.date(2015, 12, 10),
  datetime.date(2016, 1, 16),
  datetime.date(2017, 4, 30),
  datetime.date(2017, 4, 30),
  datetime.date(2017, 5, 5),
  datetime.date(2017, 6, 6),
  datetime.date(2017, 7, 3),
  datetime.date(2017, 7, 12),
  datetime.date(2017, 8, 28),
  datetime.date(2017, 9, 24),
  datetime.date(2017, 10, 10),
  datetime.date(2017, 11, 27),
  datetime.date(2017, 12, 10),
  datetime.date(2017, 12, 22),
  datetime.date(2017, 12, 31),
  datetime.date(2018, 2, 2),
  datetime.date(2018, 5, 21),
  datetime.date(2018, 5, 23),
  datetime.date(2018, 6, 8),
  datetime.date(2018, 6, 8),
  datetime.date(2018, 6, 8),
  datetime.date(2018, 7, 18),
  datetime.date(2018, 7, 23),
  datetime.date(2018, 7, 23),
  datetime.date(2018, 8, 6),
  datetime.date(2018, 8, 15),
  datetime.date(2018, 9, 10),
  datetime.date(2018, 9, 10),
  datetime.date(2018, 9, 17),
  datetime.date(2018, 9, 30),
  datetime.date(2018, 10, 8),
  datetime.date(2018, 10, 17),
  datetime.date(2018, 10, 17),
  datetime.date(2018, 10, 30),
  datetime.date(2018, 11, 13),
  datetime.date(2018, 11, 13),
  datetime.date(2018, 11, 26),
  datetime.date(2018, 11, 26),
  datetime.date(2018, 12, 4),
  datetime.date(2018, 12, 9),
  datetime.date(2018, 12, 17),
  datetime.date(2018, 12, 21),
  datetime.date(2018, 12, 26),
  datetime.date(2018, 12, 26),
  datetime.date(2018, 12, 26),
  datetime.date(2018, 12, 26),
  datetime.date(2019, 1, 7),
  datetime.date(2019, 1, 7),
  datetime.date(2019, 1, 9),
  datetime.date(2019, 1, 9),
  datetime.date(2019, 1, 12),
  datetime.date(2019, 2, 10),
  datetime.date(2019, 2, 10),
  datetime.date(2019, 2, 10),
  datetime.date(2019, 2, 10),
  datetime.date(2019, 2, 10),
  datetime.date(2019, 3, 15),
  datetime.date(2019, 5, 19),
  datetime.date(2019, 6, 2),
  datetime.date(2019, 6, 3),
  datetime.date(2019, 7, 14),
  datetime.date(2019, 7, 22),
  datetime.date(2019, 8, 24),
  datetime.date(2019, 8, 24),
  datetime.date(2019, 9, 8),
  datetime.date(2019, 10, 13),
  datetime.date(2019, 10, 13),
  datetime.date(2019, 11, 27),
  datetime.date(2019, 12, 22),
  datetime.date(2019, 12, 27),
  datetime.date(2020, 2, 27),
  datetime.date(2020, 4, 10)],
 [False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False])

In [6]:
grouped["is_sequence_lst"] = is_sequence_lst
grouped

,user_id,date,rating,item_id,is_sequence_lst
0,0,"[2016-10-02, 2017-04-07, 2021-06-22, 2022-02-2...","[5.0, 1.0, 1.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0, ...","[29361, 28833, 49071, 64427, 50006, 48383, 530...","[False, False, False, False, False, False, Fal..."
1,1,"[2010-06-17, 2010-10-06, 2010-10-06, 2010-11-1...","[4.0, 3.0, 3.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...","[2930, 6848, 4085, 3918, 6072, 42670, 7299, 17...","[False, False, False, False, False, False, Fal..."
2,2,"[2015-10-28, 2015-10-28, 2015-10-28, 2015-10-2...","[5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 5.0, 5.0, 3.0, ...","[2532, 21812, 14867, 67231, 15799, 39578, 3289...","[True, True, True, True, False, False, False, ..."
3,3,"[2010-06-12, 2011-01-29, 2011-03-18, 2011-07-0...","[3.0, 4.0, 5.0, 3.0, 4.0, 4.0, 5.0, 1.0, 5.0, ...","[23667, 6028, 2859, 2797, 5507, 22883, 2876, 1...","[False, False, False, False, False, False, Fal..."
4,4,"[2007-12-27, 2009-05-17, 2010-08-08, 2010-08-1...","[2.0, 5.0, 4.0, 4.0, 5.0, 1.0, 5.0, 5.0, 5.0, ...","[1855, 1390, 5080, 2159, 7271, 2416, 7031, 432...","[False, False, False, False, False, False, Fal..."
...,...,...,...,...,...
995,995,"[2020-05-06, 2020-05-10, 2020-06-26, 2020-06-2...","[4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, ...","[46093, 63074, 46707, 42668, 54957, 54714, 466...","[False, False, False, False, False, False, Fal..."
996,996,"[2013-05-06, 2013-05-06, 2015-01-22, 2015-02-1...","[5.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0, 5.0, 1.0, ...","[14018, 12897, 15824, 24402, 24722, 13711, 215...","[False, False, False, False, False, False, Fal..."
997,997,"[2017-12-31, 2018-01-26, 2018-02-13, 2018-04-1...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...","[29306, 29927, 32622, 30490, 36031, 28799, 258...","[False, False, False, False, False, False, Fal..."
998,998,"[2013-04-11, 2013-09-03, 2014-10-29, 2014-10-2...","[4.0, 5.0, 5.0, 3.0, 5.0, 5.0, 4.0, 1.0, 4.0, ...","[13994, 12095, 32407, 18046, 18847, 59676, 233...","[False, False, False, False, False, False, Fal..."
999,999,"[2008-11-12, 2009-09-21, 2009-09-24, 2009-10-2...","[4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, ...","[3243, 1844, 5147, 4861, 24056, 2171, 6015, 38...","[False, False, False, False, False, False, Fal..."

In [7]:
score_df = grouped.explode(["date", "is_sequence_lst", "item_id", "rating"])
score_df

     user_id        date rating item_id is_sequence_lst
0          0  2016-10-02    5.0   29361           False
0          0  2017-04-07    1.0   28833           False
0          0  2021-06-22    1.0   49071           False
0          0  2022-02-20    5.0   64427           False
0          0  2022-02-20    5.0   50006           False
..       ...         ...    ...     ...             ...
999      999  2019-11-27    5.0   42690           False
999      999  2019-12-22    5.0   67891           False
999      999  2019-12-27    5.0   43056           False
999      999  2020-02-27    5.0   40929           False
999      999  2020-04-10    5.0   46061           False

[164364 rows x 5 columns]

In [8]:
sequence_df = score_df[score_df["is_sequence_lst"]].reset_index(drop=True)
sequence_df

       user_id        date rating item_id is_sequence_lst
0            0  2022-07-22    5.0   71482            True
1            0  2022-07-22    5.0   53839            True
2            0  2022-07-22    1.0   32319            True
3            0  2022-07-22    5.0   64573            True
4            0  2022-07-22    5.0   44799            True
...        ...         ...    ...     ...             ...
40557      999  2019-02-10    4.0   40158            True
40558      999  2019-02-10    5.0   39077            True
40559      999  2019-02-10    3.0   38698            True
40560      999  2019-02-10    5.0   42245            True
40561      999  2019-02-10    4.0   39165            True

[40562 rows x 5 columns]

In [9]:
sequence_df = sequence_df.groupby(["user_id", "date"]).agg({
    "item_id": lambda x: x.tolist(),
    "rating": lambda x: x.tolist()
}).reset_index(drop=False)
sequence_df

,user_id,date,item_id,rating
0,0,2022-07-22,"[71482, 53839, 32319, 64573, 44799, 56313, 406...","[5.0, 5.0, 1.0, 5.0, 5.0, 5.0, 1.0, 1.0, 5.0, ..."
1,0,2022-12-03,"[68826, 62171, 62468, 64215]","[5.0, 5.0, 5.0, 5.0]"
2,0,2022-12-05,"[57747, 64758, 67041, 68557, 48899]","[1.0, 5.0, 5.0, 5.0, 5.0]"
3,0,2023-01-09,"[65871, 71093, 71133, 66141, 59380, 65495, 650...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ..."
4,0,2023-02-27,"[40014, 71253, 71146, 66034, 70710]","[5.0, 5.0, 5.0, 5.0, 5.0]"
...,...,...,...,...
6248,997,2023-03-19,"[68787, 66555, 65991, 64488, 64242, 70368, 709...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 3.0, 5.0, ..."
6249,997,2023-03-20,"[68004, 68239, 68144, 67857, 62937]","[5.0, 5.0, 5.0, 5.0, 5.0]"
6250,999,2014-12-03,"[16923, 19623, 19207, 3573]","[5.0, 4.0, 5.0, 5.0]"
6251,999,2018-12-26,"[40583, 38774, 38410, 61047]","[5.0, 5.0, 5.0, 5.0]"
6252,999,2019-02-10,"[40158, 39077, 38698, 42245, 39165]","[4.0, 5.0, 3.0, 5.0, 4.0]"

In [10]:
user_id_lst, date_lst, item_id_lst, rating_lst = [], [], [], []

for idx, row in tqdm(sequence_df.iterrows()):
    tmp_lst = row["item_id"]
    for i in range(len(tmp_lst) - window_size + 1):
        user_id_lst.append(row["user_id"])
        date_lst.append(row["date"])
        item_id_lst.append(tmp_lst[i:i+window_size])
        rating_lst.append(row["rating"][i:i+window_size])

6253it [00:00, 15435.15it/s]

In [11]:
train_test_df = pd.DataFrame({
    "user_id": user_id_lst,
    "date": date_lst,
    "item_id": item_id_lst,
    "rating": rating_lst,
})

train_test_df

       user_id        date                       item_id                rating
0            0  2022-07-22  [71482, 53839, 32319, 64573]  [5.0, 5.0, 1.0, 5.0]
1            0  2022-07-22  [53839, 32319, 64573, 44799]  [5.0, 1.0, 5.0, 5.0]
2            0  2022-07-22  [32319, 64573, 44799, 56313]  [1.0, 5.0, 5.0, 5.0]
3            0  2022-07-22  [64573, 44799, 56313, 40697]  [5.0, 5.0, 5.0, 1.0]
4            0  2022-07-22  [44799, 56313, 40697, 41653]  [5.0, 5.0, 1.0, 1.0]
...        ...         ...                           ...                   ...
21798      997  2023-03-20  [68239, 68144, 67857, 62937]  [5.0, 5.0, 5.0, 5.0]
21799      999  2014-12-03   [16923, 19623, 19207, 3573]  [5.0, 4.0, 5.0, 5.0]
21800      999  2018-12-26  [40583, 38774, 38410, 61047]  [5.0, 5.0, 5.0, 5.0]
21801      999  2019-02-10  [40158, 39077, 38698, 42245]  [4.0, 5.0, 3.0, 5.0]
21802      999  2019-02-10  [39077, 38698, 42245, 39165]  [5.0, 3.0, 5.0, 4.0]

[21803 rows x 4 columns]

In [13]:
train_test_df.to_pickle("../data/processed/rating_session.pkl")